@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
nav ul li {
    display: inline-block;
}

body {
    background-color: rgb(253, 253, 245);
}

#navbar {
    z-index: 1;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    left: 10%;
    /* Position the navbar at the top of the page */
    width: 80%;
    /* Full width */
    border-radius: 0px 0px 16px 16px;
}

nav ul {
    display: inline-block;
    margin: 0 0px 0px 35%;
}

nav ul li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Tinos', serif;
    font-size: 120%;
}

.foto {
    z-index: -1;
    float: left;
    padding-top: 2%;
    margin-right: 2%;
    margin-left: 10%;
}

.foto img {
    position: absolute;
    height: 50%;
    border-radius: 100%;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.103);
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.295);
}

.text {
    position: absolute;
    margin-top: 10%;
    margin-left: 43%;
}

.text h1 {
    font-size: 450%;
    font-family: 'Tinos', serif;
}

.text h2 {
    color: rgb(50, 50, 50);
    font-size: 200%;
    font-family: 'Tinos', serif;
}

.sobre-mim {
    display: block;
    margin: 150px auto 0 auto;
    width: 50%;
    background-color: rgb(221, 221, 221);
    border-radius: 16px;
    padding: 200px 150px;
}

.sobre-mim h1 {
    font-size: 220%;
    font-family: 'Tinos', serif;
    margin-bottom: 8%;
    margin-top: 30%;
    margin-left: 2%;
    margin-right: 10%;
}

.sobre-mim h2 {
    float: left;
    font-size: 220%;
    font-family: 'Tinos', serif;
}

.sobre-mim h3 {
    text-align: justify;
    font-size: 120%;
    font-family: 'Tinos', serif;
}

hr .solid {
    border-top: 3px solid;
}

.producoes {
    display: block;
    margin: 200px auto 0 auto;
    width: 50%;
    background-color: rgb(221, 221, 221);
    border-radius: 16px;
}

.producoes h1 {
    text-align: center;
    font-size: 220%;
    font-family: 'Tinos', serif;
    margin-bottom: 8%;
}